.murod {
     background-color: $--blue-800;
     .container {
          .navLink {
               height: 90px;
               .nav_logo {
                    width: 300px;
                    height: 55px;
               }
               .nav_Links {
                    li {
                         font-family: $--font-Roboto;
                         font-size: $--fs-15;
                         color: $--text-08;
                         padding-left: 10px;
                    }
               }
          }

     }
}
.section {
     width: 100%;
     height: 800px;
     .info_section {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          .info_text {
               .title-70 {
                    color: $--white-900;
               }
               .title-20 {
                    color: $--grey-800;
               }
               .title-25 {
                    color: $--grey-700;
                    padding-top: 20px;
               }
               .p-padd {
                    padding-top: 10px;
               }
          }
          .info_btns {
               padding-top: 25px;
               gap: 15px;
               .info_button {
                    gap: 15px;
                    .join_btn {
                         padding: 25px 50px;
                         background-color: $--red-800;
                         color: $--text-08;
                         border-radius: 10px;
                    }
                    .about_btn {
                         padding: 25px 30px;
                         background-color: $--bg-05;
                         color: $--text-05;
                         border-radius: 10px;
                    }
               }
               .info_address_text {
                    width: 85%;
                    padding: 8px 20px;
                    border: 1px solid rgba(255, 255, 255, 0.09);
                    border-radius: 10px;
                    .crl-p {
                         color: $--text-03;
                    }
                    .crl-p2 {
                         color: $--text-05;
                    }
               }
          }
     }
     .img_section{
          max-width: 50%;
          height: 100%;
          .header_logo {
               width: 100%;
               height: 100%;
               object-fit: cover;
          }
     }
}
.animation {
     width: 100%;
     background-color: $--brown-900;
     padding: 10px 0;
     p {
          width: 100%;
          font-family: $--font-Roboto;
          font-style: normal;
          font-weight: 600;
          font-size: 15px;
          line-height: 15px;
          padding-left: 5px;
          color: $--text-yellow-06;
     }
}