.ozodbek {
     background-color: $--blue-800;
     .background {
          background: $--blue-800;
          height: 995px;

          .header-img {
               display: flex;
               align-items: center;
               justify-content: center;
               top: 90px;
               background: url(image.png);
               mix-blend-mode: normal;
               border-radius: 55px;

               .img1 {
                    width: 133px;
                    height: 50px;

                    .img2 {
                         width: 133px;
                         height: 50px;
                    }
                    .img3 {
                         width: 133px;
                         height: 50px;
                    }
                    .img4 {
                         width: 133px;
                         height: 50px;
                    }
                    .img5 {
                         width: 133px;
                         height: 50px;
                    }
                    .img6 {
                         width: 133px;
                         height: 50px;
                    }
               }
          }
          .centerlogo {
               display: flex;
               position: relative;
               align-items: center;
               justify-content: center;
               .centerlogo1 {
                    position: absolute;
                    height: 620px;
                    width: 530px;
                    right: 490px;
                    top: 150px;
                    border-radius: 0px;
                    color: #ffffff;
               }
               .centerlogo2 {
                    position: absolute;
                    width: 385px;
                    height: 345px;
                    right: 570px;
                    top: 285px;
                    border-radius: 0px;
               }
               .centerlogo3 {
                    position: absolute;
                    height: 164px;
                    width: 193px;
                    right: 650px;
                    top: 350px;

                    border-radius: 0px;
               }
               .button-ozod {
                    padding: 10px 45px 15px;
                    position: absolute;
                    width: 281px;
                    height: 67px;
                    right: 600px;
                    top: 645px;
                    background: #e11d2e;
                    border-radius: 10px;
                    color: #ffffff;
               }
          }
          .text-ozod {
               position: absolute;
               width: 552px;
               height: 126px;
               right: 540px;
               top: 800px;

               font-family: "SF Pro Display";
               font-style: normal;
               font-weight: 700;
               font-size: 35px;
               line-height: 42px;
               display: flex;
               align-items: center;
               text-align: center;

               color: #ffffff;
          }
     }
}
