@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;400;600;700;900&family=Poppins:wght@100;400;500;600;700;800&family=Raleway:wght@400;500;600;700;900&family=Roboto:wght@400;500;700;900&display=swap");
/* Variables */
$--white-900: #ffffff;
$--grey-800: #71768e;
$--grey-700: #a0a3b5;
$--red-900: #ac1216;
$--red-800: #e11d2e;
$--orange-900: #ff9429;
$--blue-900: #0d1428;
$--blue-800: #101932;
$--blue-700: #162758;
$--blue-600: #30298c;
$--blue-500: #384d70;
$--blue-450: #067ccb;
$--blue-400: #0096f2;
$--brown-900: #5a4039;

$--bg-neon350: #e11d2e;
$--bg-neon300: #ff516094;

$--bg-05: rgba(255, 255, 255, 0.05);
$--bg-01: rgba(255, 255, 255, 0.1);
$--text-08: rgba(255, 255, 255, 0.8);
$--text-07: rgba(255, 255, 255, 0.7);
$--text-05: rgba(255, 255, 255, 0.5);
$--text-03: rgba(255, 255, 255, 0.3);
$--text-yellow-06: rgba(255, 245, 0, 0.6);

$--font-Poppins: "Poppins", sans-serif;
$--font-Raleway: "Raleway", sans-serif;
$--font-Roboto: "Roboto", sans-serif;
$--fs-15: 15px;
$--fs-20: 20px;
$--fs-80: 80px;
$--fs-25: 25px;
$--fs-30: 30px;
$--fs-32: 32px;
$--fs-35: 35px;
$--fs-50: 50px;

* {
     padding: 0;
     margin: 0;
     box-sizing: border-box;
}
body {
     font-size: 16px;
     font-family: sans-serif;
     font-weight: 400;
     line-height: 1.6;
     background-color: $--blue-800;
}
li {
     list-style: none;
}
a {
     text-decoration: none;
}
img {
     width: 100%;
     height: 100%;
     object-fit: cover;
}
button,
input {
     border: none;
}
.container {
     width: 100%;
     padding: 0 90px;
}

/* Font Size */
.title-10 {
     font-family: $--font-Roboto;
     font-style: normal;
     font-weight: 500;
     font-size: 15px;
     line-height: 20px;
}
.title-20 {
     font-family: $--font-Roboto;
     font-style: normal;
     font-weight: 500;
     font-size: 20px;
     line-height: 30px;
}
.title-25 {
     font-family: $--font-Roboto;
     font-style: normal;
     font-weight: 500;
     font-size: 25px;
     line-height: 30px;
}
.title-32 {
     font-family: $--font-Roboto;
     font-style: normal;
     font-weight: 500;
     font-size: 32px;
     line-height: 30px;
}
.title-50 {
     font-family: "SF Pro Display";
     font-style: normal;
     font-weight: 700;
     font-size: 50px;
     line-height: 60px;
}
.title-70 {
     font-family: $--font-Poppins;
     font-size: 70px;
     font-style: normal;
     font-weight: 800;
     line-height: 70px;
}

/* Blocks */
.row {
     display: flex;
     flex-direction: row;
}
.column {
     display: flex;
     flex-direction: column;
}
.j-center {
     justify-content: center;
}
.a-center {
     align-items: center;
}
.j-between {
     justify-content: space-between;
}
.basis_50{
     flex-basis: 50%;
     max-width: 50%;
}

footer{
     width: 100%;
     height: 100px; 
     color: $--white-900;
     display: flex;
     flex-direction: row;
     align-items: center;
     justify-content: center;

}
.ozod_box{
     padding: 30px 0;
}

/* Grid */
.grid-conteiner {
     display: grid;
}
/*  */
@import "./murod";
@import "./ozodbek";
@import "./komil";
