@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;400;600;700;900&family=Poppins:wght@100;400;500;600;700;800&family=Raleway:wght@400;500;600;700;900&family=Roboto:wght@400;500;700;900&display=swap");
/* Variables */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-size: 16px;
  font-family: sans-serif;
  font-weight: 400;
  line-height: 1.6;
  background-color: #101932;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

button,
input {
  border: none;
}

.container {
  width: 100%;
  padding: 0 90px;
}

/* Font Size */
.title-10 {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
}

.title-20 {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
}

.title-25 {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 25px;
  line-height: 30px;
}

.title-32 {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 30px;
}

.title-50 {
  font-family: "SF Pro Display";
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  line-height: 60px;
}

.title-70 {
  font-family: "Poppins", sans-serif;
  font-size: 70px;
  font-style: normal;
  font-weight: 800;
  line-height: 70px;
}

/* Blocks */
.row {
  display: flex;
  flex-direction: row;
}

.column {
  display: flex;
  flex-direction: column;
}

.j-center {
  justify-content: center;
}

.a-center {
  align-items: center;
}

.j-between {
  justify-content: space-between;
}

.basis_50 {
  flex-basis: 50%;
  max-width: 50%;
}

footer {
  width: 100%;
  height: 100px;
  color: #ffffff;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.ozod_box {
  padding: 30px 0;
}

/* Grid */
.grid-conteiner {
  display: grid;
}

/*  */
.murod {
  background-color: #101932;
}
.murod .container .navLink {
  height: 90px;
}
.murod .container .navLink .nav_logo {
  width: 300px;
  height: 55px;
}
.murod .container .navLink .nav_Links li {
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  color: rgba(255, 255, 255, 0.8);
  padding-left: 10px;
}

.section {
  width: 100%;
  height: 800px;
}
.section .info_section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.section .info_section .info_text .title-70 {
  color: #ffffff;
}
.section .info_section .info_text .title-20 {
  color: #71768e;
}
.section .info_section .info_text .title-25 {
  color: #a0a3b5;
  padding-top: 20px;
}
.section .info_section .info_text .p-padd {
  padding-top: 10px;
}
.section .info_section .info_btns {
  padding-top: 25px;
  gap: 15px;
}
.section .info_section .info_btns .info_button {
  gap: 15px;
}
.section .info_section .info_btns .info_button .join_btn {
  padding: 25px 50px;
  background-color: #e11d2e;
  color: rgba(255, 255, 255, 0.8);
  border-radius: 10px;
}
.section .info_section .info_btns .info_button .about_btn {
  padding: 25px 30px;
  background-color: rgba(255, 255, 255, 0.05);
  color: rgba(255, 255, 255, 0.5);
  border-radius: 10px;
}
.section .info_section .info_btns .info_address_text {
  width: 85%;
  padding: 8px 20px;
  border: 1px solid rgba(255, 255, 255, 0.09);
  border-radius: 10px;
}
.section .info_section .info_btns .info_address_text .crl-p {
  color: rgba(255, 255, 255, 0.3);
}
.section .info_section .info_btns .info_address_text .crl-p2 {
  color: rgba(255, 255, 255, 0.5);
}
.section .img_section {
  max-width: 50%;
  height: 100%;
}
.section .img_section .header_logo {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.animation {
  width: 100%;
  background-color: #5a4039;
  padding: 10px 0;
}
.animation p {
  width: 100%;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 15px;
  padding-left: 5px;
  color: rgba(255, 245, 0, 0.6);
}

.ozodbek {
  background-color: #101932;
}
.ozodbek .background {
  background: #101932;
  height: 995px;
}
.ozodbek .background .header-img {
  display: flex;
  align-items: center;
  justify-content: center;
  top: 90px;
  background: url(image.png);
  mix-blend-mode: normal;
  border-radius: 55px;
}
.ozodbek .background .header-img .img1 {
  width: 133px;
  height: 50px;
}
.ozodbek .background .header-img .img1 .img2 {
  width: 133px;
  height: 50px;
}
.ozodbek .background .header-img .img1 .img3 {
  width: 133px;
  height: 50px;
}
.ozodbek .background .header-img .img1 .img4 {
  width: 133px;
  height: 50px;
}
.ozodbek .background .header-img .img1 .img5 {
  width: 133px;
  height: 50px;
}
.ozodbek .background .header-img .img1 .img6 {
  width: 133px;
  height: 50px;
}
.ozodbek .background .centerlogo {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
}
.ozodbek .background .centerlogo .centerlogo1 {
  position: absolute;
  height: 620px;
  width: 530px;
  right: 490px;
  top: 150px;
  border-radius: 0px;
  color: #ffffff;
}
.ozodbek .background .centerlogo .centerlogo2 {
  position: absolute;
  width: 385px;
  height: 345px;
  right: 570px;
  top: 285px;
  border-radius: 0px;
}
.ozodbek .background .centerlogo .centerlogo3 {
  position: absolute;
  height: 164px;
  width: 193px;
  right: 650px;
  top: 350px;
  border-radius: 0px;
}
.ozodbek .background .centerlogo .button-ozod {
  padding: 10px 45px 15px;
  position: absolute;
  width: 281px;
  height: 67px;
  right: 600px;
  top: 645px;
  background: #e11d2e;
  border-radius: 10px;
  color: #ffffff;
}
.ozodbek .background .text-ozod {
  position: absolute;
  width: 552px;
  height: 126px;
  right: 540px;
  top: 800px;
  font-family: "SF Pro Display";
  font-style: normal;
  font-weight: 700;
  font-size: 35px;
  line-height: 42px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #ffffff;
}/*# sourceMappingURL=style.css.map */